@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Jost:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}
body {
	@apply font-jost text-[1rem];
}
/* .hero {
    @apply before:opacity-50 before:-z-10 before:absolute before:inset-0 before:bg-[url(img/gallery/header-bg.png)];

} */
.hero::before {
content: '';
		display: block;
		position: absolute;
		z-index: -10;
		opacity: 0.5;
		inset: 0;
        background: #00000022;
}
@media (min-width: 768px) {
	.hero::before {
		background: url(img/gallery/header-bg.png);
	}
}

h1 {
	@apply text-[3rem];
}
button {
	outline: none;
}

[class^='swiper-button-'] {
	color: black;
}
